* {
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
}
.content__note {
  margin-top: 40px;
  padding: 0 20px;
  color: #777;
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-size: 14px;
}