.question-create-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1200px;
    max-height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    overflow: auto;
    background: #fafafa;
    box-shadow: 2px 2px 7px 0px #333;

    z-index: 1;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.question-create-form--visible {opacity: 1;visibility: visible;}
.question-create-form--visible ~ .overlay {opacity: 0.5;visibility: visible;}

.question-create-form__part {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.question-create-form__part--top {
    padding: 20px;
    background: #43474d;
}
.question-create-form__part--left {
    flex: 1;
}


.question-create-form__number {
    color: #fff;
    font-weight: normal;
    margin: 0 5px;
}

.question-create-form__question-name {
    border: none;
    color: #fff;
    font-size: 16px;
    background: transparent;
    flex: 1;
}
.question-create-form__close {
    font-weight: bold;
    color: #fff;
    border: 3px solid red;
    border-radius: 10px;
    padding: 5px 9px;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}
.question-create-form__save {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 3px solid green; 
    border-radius: 10px;
    padding: 5px 13px;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.question-create-form__main-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    position: relative;
}

.question-create-form__answer-changer {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.question-create-form__answer-changer img {
    max-width: 100%;
    max-height: 100%;
}

.side-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30%;
    width: 30%;
    background: rgba(51, 51, 51, 0.9);
    transition: left 0.2s ease-in-out;
}
.side-menu.active {
    left: 0;
}
.side-menu__item {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
.side-menu__item {cursor: pointer;}
.side-menu__item--current {cursor: default;}
.side-menu__item img {
    max-width: 100%;
    max-height: 100%;
}
.side-menu__item-left-part {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.side-menu__item-name {
    color: #fff;
    font-size: 13px;
}
.side-menu__item-descr {
    color: #999;
    font-size: 11px;
}

.question-create-form__bottom-part {
    background: #ddd;
    padding: 40px;
}
.question-create-form__bottom-title {
    text-align: center;
    text-transform: uppercase;
    color: #666;
}
.question-create-form__bottom-options {
    margin-top: 20px;
    display: flex;
}
.question-create-form__bottom-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.question-create-form__bottom-option-name {
    margin-left: 10px;
    font-weight: 600;
    line-height: 22px;
}