.answer-creater {width: 80%;position: relative;}
.answer-creater--public {
    width: 100%;
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
}
.answer-creater--public .answer-creater__answers {margin-top: 0;}
.answer-creater__answer {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
}
.answer-creater__answer-input {display: flex;align-items: center;justify-content: center;padding: 5px;}

.answer-creater__answer-label {
    cursor: pointer;
    margin-left: 5px;
}
.answer-creater__answer--open .answer-creater__answer-label {
    border-radius: 6px;
    border: 2px solid #ddd;
    padding: 7px 10px 8px;
}
.answer-creater__answer--open input[type=text] {
    padding: 6px;
    border-radius: 4px;
    border: 2px solid #ddd;
}
.answer-creater__answer--special .answer-creater__answer-label {
    color: blue;
    font-size: 14px;
}

.answer-creater__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.answer-creater__create {
    border: 2px solid #ddd;
    padding: 6px 8px 7px;
    cursor: pointer;
    color: #666;
    font-size: 15px;
    flex: 1;
    text-align: center;
}
.answer-creater__create:hover {
    background-color: #dedede;
    color: #333;
}
.answer-creater__create--close {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-right: -2px;
}

.answer-creater__create--special {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -2px;
}

.answer-creater__answers {
    margin-top: 20px;
    overflow: auto;
}
.answer-creater__answer-deleter {
    position: absolute;
    right: 0px;
    top: -7px;
    color: red;
    font-weight: bold;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px;
}
.answer-creater__answer:hover .answer-creater__answer-deleter {opacity: 1;visibility: visible;}

.answer-creater__table td,
.answer-creater__table th {border: 1px solid #ddd;}

.answer-creater__table thead th,
.answer-creater__table tbody tr td:first-of-type {background-color: #eee;min-width: 100px;cursor: pointer;}

.answer-creater--public .answer-creater__table thead th,
.answer-creater--public .answer-creater__table tbody tr td:first-of-type {cursor: default;}

th.special {font-size: 14px;font-weight: normal;color: blue;}

.answer-creater__table td.empty-td {text-align: center;}

.answer-creater__create-wrapper--right {
    transform: translateY(-50%);
    position: absolute;
    left: 101%;
    top: calc(50% - 18px);
}
.answer-creater__create-wrapper--right .answer-creater__create {border-radius: 6px;margin: -2px;}