.questions-list {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.questions-list__item {
    margin: 20px 0;
}
.questions-list__item-info {
    padding: 20px;
    background-color: #555;
    display: flex;
    align-items: center;

}
.questions-list__item-arrow {
    padding: 20px;
    margin: -20px -5px -20px -20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.questions-list__item-arrow.opened {
    transform: rotate(90deg);
}
.questions-list__item-number {
    margin-right: 10px;
    color: #fff;
    font-weight: 600;
}
.questions-list__item-text {
    flex: 1;
    color: #fff;
    font-weight: 600;
    padding-right: 20px;
}
.questions-list__item-action-bar-wrapper {
    padding: 20px;
    margin: -20px;
    cursor: pointer;
    position: relative;
}
.questions-list__item-action-bar {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 1;
}
.questions-list__item-action-bar-wrapper:hover .questions-list__item-action-bar {opacity: 1;visibility: visible;}
.questions-list__item-action-bar-inner {
    padding: 1px 20px;
    border-radius: 6px;
    background-color: #333;
}
.questions-list__item-action-bar-item {
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin: 15px 0;
}
.questions-list__item-action-bar-item:hover {opacity: 0.7;}