.question-creater {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 40px;
    border-radius: 6px;
    background: #fafafa;
    box-shadow: 2px 2px 7px 0px #333;
    justify-content: center;
}
.question-creater__button {
    margin: 20px 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-creater__button-img {
    margin-bottom: 10px;
}
.question-creater__button-title {
    font-weight: 500;
    font-size: 13px;
}

.question-creater--button {
    border: 2px solid #ddd;
    width: 100%;
    border: 2px solid #ddd;
    cursor: pointer;
    border-radius: 6px;
}
.question-creater__button--plus {
    color: #666;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 60px;
}