.file-saver {
    padding: 40px;
    border-radius: 12px;
    border: 2px solid #d7d7d7;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.file-saver:hover .file-saver__text {color: blue;}
.file-saver__input {
    display: none;
}